<!DOCTYPE html>
<html>
  <head>
    <script src="/res/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/res/css/style.css" />
    <title>PHP Quote -- Demo Webapp</title>
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
