{% extends "base.twig" %}

{% block content %}
  <div class="title_box">
    <img class="fuzzy" src="/res/image/title.jpg" alt="main page" onclick="window.location.href='/'" />
  </div>
  <div id="deleted">
    <h1>Quote {{ id }} deleted</h1>
    <img class="fuzzy" src="/res/image/deleted.jpg" alt="deleted" />
  </div>
{% endblock %}
